<h1>Hai, {{name}}!</h1>

<p>Survey <a href="{{surveyLink}}">{{surveyName}}</a> telah dimulai!</p>
<p>Harap segera mengisi survey tersebut sebelum tanggal {{endDate}}.</p>

<p>Salam,<br />Tracer Study</p>